<div class="content">
    <div class = "container">
        <row>          
            <div class="col-xs-12">
                <section style="padding-bottom:25%;border-bottom: 1px solid #f2f2f2;">
                    <h1><strong>Sed quis convallis tortor</strong></h1>
                    <h3 class="text-muted">Donec consequat condimentum nibh, quis semper mi rutrum id. Etiam scelerisque gravida dolor, id varius felis consequat quis.</h3>
                    <p class="bs-component">
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed quis convallis tortor. Sed aliquet tortor eget odio tristique faucibus. Mauris et pulvinar erat, nec viverra massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Duis ultrices non ante et vestibulum. Vivamus ipsum metus, eleifend ac nisi quis, consectetur placerat nisl. Proin pharetra dolor mauris, euismod rhoncus magna faucibus vitae. Etiam fringilla, diam ut pellentesque interdum, elit erat suscipit turpis, non porta eros diam nec lectus. Proin id erat dictum erat pellentesque rhoncus
                    </p>
                    <p class="bs-component">
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed quis convallis tortor. Sed aliquet tortor eget odio tristique faucibus. Mauris et pulvinar erat, nec viverra massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Duis ultrices non ante et vestibulum. Vivamus ipsum metus, eleifend ac nisi quis, consectetur placerat nisl. Proin pharetra dolor mauris, euismod rhoncus magna faucibus vitae. Etiam fringilla, diam ut pellentesque interdum, elit erat suscipit turpis, non porta eros diam nec lectus. Proin id erat dictum erat pellentesque rhoncus
                    </p>
                    <br><br>
                    <blockquote class="pull-right">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                    </blockquote>
                </section>              
            </div>                    
        </row>
        <hr>
        <row>    
            <div class="col-xs-12">
                <section>                    
                    <div class="well">
                        <img src="http://lorempixel.com/1170/500/people" style="width:100%;height:auto;"/>
                    </div>
                </section>    
            </div>    
        </row>      
        <row>
                <div class="col-sm-4" style="text-align:center;"><section><button class="brand-teal btn btn-default btn-fab btn-raised btn-ovr mdi-action-visibility" data-toggle="modal" data-target="#myModal"></button><br><h3>Vivamus molestie tristique</h3></section></div>
                <div class="col-sm-4" style="text-align:center;"><section><button class="brand-teal btn btn-default btn-fab btn-raised btn-ovr mdi-av-volume-down" data-toggle="modal" data-target="#myModal"></button><br><h3>Sed quis convallis tortor.</h3></section></div>
                <div class="col-sm-4" style="text-align:center;"><section><button class="brand-teal btn btn-default btn-fab btn-raised btn-ovr mdi-editor-insert-comment" data-toggle="modal" data-target="#myModal"></button><br><h3>Donec consequat condimentum</h3></section></div>        
        </row>        
    </div>    
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed quis convallis tortor. Sed aliquet tortor eget odio tristique faucibus. Mauris et pulvinar erat, nec viverra massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Duis ultrices non ante et vestibulum. Vivamus ipsum metus, eleifend ac nisi quis, consectetur placerat nisl. Proin pharetra dolor mauris, euismod rhoncus magna faucibus vitae. Etiam fringilla, diam ut pellentesque interdum, elit erat suscipit turpis, non porta eros diam nec lectus. Proin id erat dictum erat pellentesque rhoncus
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>